*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: cursive;
}
body{
    background-image: linear-gradient(#ed82cf,#6faeca );
   background-repeat: no-repeat;
}