.container-fluid {
  .calculator {
    form {
      .btn-group {
        .btn {
          background-color: #ed82cf;
                    color: white;
                    padding: 10px 15px;
                    margin-top: 10px;
                    border: none;
        }
      }
    }
  }
}
